<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.demo_ticket.mapper.StudentMapper">
    <!--  将查询返回的结果映射到一个结果集当中。-->
    <resultMap id="BaseResultMap" type="com.yss.demo_model.Student">
        <id column="_id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="TINYINT"/>

        <collection property="gradeList" javaType="list" ofType="com.yss.demo_model.Grade" >
            <id column="id2" jdbcType="VARCHAR" property="id"></id>
            <result column="subject" jdbcType="VARCHAR" property="subject"></result>
            <result column="score" jdbcType="INTEGER" property="score"></result>
            <result column="student_id" jdbcType="VARCHAR" property="studentId"></result>
        </collection>
    </resultMap>

    <!--<select id="queryStudentById" resultMap="BaseResultMap" parameterType="string">-->
        <!--select-->
          <!--*-->
        <!--from-->
          <!--student_detail-->
        <!--where-->
          <!--1=1-->
        <!--<if test="id != null">-->
            <!--and _id = #{id,jdbcType=VARCHAR}-->
        <!--</if>-->
    <!--</select>-->

    <select id="queryStudentById" resultMap="BaseResultMap" parameterType="string">
        select
         s._id,s.name,s.age,g._id id2,g.subject,g.score,g.student_id
        from
        student_detail s
        left join
          grade_detail  g
            on s._id=g.student_id
        where 1=1
        <if test="id != null">
            and s._id = #{id,jdbcType=VARCHAR}
        </if>
    </select>

    <!--<select id="sellectStudentList" resultMap="BaseResultMap">-->
        <!--select-->
        <!--_id,name,age-->
        <!--from student_detail-->
        <!--where 1=1-->
    <!--</select>-->

    <!--<insert id="addStudent" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.pojo.Student">-->
        <!--insert into-->
        <!--student_detail(_id,name,age)-->
        <!--values(#{student.id},#{student.name},#{student.age})-->
    <!--</insert>-->
</mapper>
